.o-icons-chevron-right::before {
	border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	content: '';
	display: inline-block;
    width: 0.4em;
	height: 0.4em;
	left: -0.5em;
    top: 0.5em;
	position: relative;
	transform: rotate(45deg);
	vertical-align: top;
}

.fa {
	color: $gray-500;
} 

.fa-phone,
.fa-envelope {
	margin-right: 10px;
}
