$blue-gary-100: #F1F5F9;

$cyan-900: #164E63;

$emerald-500: #10B981;

$gray-100: #F3F4F6;
$gray-400: #9CA3AF;
$gray-500: #6B7280;
$gray-600: #52525B;
$gray-800: #27272A;

$light-blue-600: #0284C7;



